<link rel="stylesheet" href="/styles/screen.css">
<main>
<h1> Planetary Playing Cards</h1>
<body>
  <div class="grid-container">
    <div class="card sun">
      <h2>Sun</h2>
      <p>Type G2V</p>
    </div>
    <div class="card">
      <h2>Mercury</h2>
      <p>AU Distance</p>
    </div>
    <div class="card">
      <h2>Venus</h2>
      <p>AU Distance</p>
    </div>
    <div class="card">
      <h2>Earth</h2>
      <p>AU Distance</p>
    </div>
    <div class="card">
      <h2>Mars</h2>
      <p>AU Distance</p>
    </div>
    <div class="card">
      <h2>Jupiter</h2>
      <p>AU Distance</p>
    </div>
    <div class="card">
      <h2>Saturn</h2>
      <p>AU Distance</p>
    </div>
    <div class="card">
      <h2>Uranus</h2>
      <p>AU Distance</p>
    </div>
    <div class="card">
      <h2>Neptune</h2>
      <p>AU Distance</p>
    </div>
  </div>
</body>
</main>